.App {
    font-family: sans-serif;
    text-align: center;
  }

.animate-timer {
    position: relative;
    animation: animatetop 1s infinite;
}

#bg69{
    transition: height 999999s;
}

@keyframes animatetop {
    from {
        top: -50px;
    }
    to {
        top: 20px;
    }
}
  